# Go backend
*.exe
*.test
*.prof
*.out
*.test
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lz4
*.tar.sz
*.pyc
*.env
/vendor/
/bin/
/pkg/

# .htpasswd
*.htpasswd

# Next.js frontend
.next/
node_modules/

# Shared folders
logs/

# IDEs
.idea/
.vscode/

# ds store
*.DS_Store

# pytest stuff
.coverage
.coverage.*
.cache
.pytest_cache/
.tox/
.nox/
.mypy_cache/
.hypothesis/
pytestdebug.log
pytest.ini
coverage.xml
.cpython-*
itu-minitwit/backend/test/__pycache__/*
.pyc
itu-minitwit/backend/tmp/minitwit.db
itu-minitwit/backend/test/pytests/__pycache__/sim_api_test.cpython-311-pytest-7.2.1.pyc
.gitignore
