name: Generate pdf report from LaTeX
on:
  push:
    branches:
      main
    paths: #only run on changes to tex files
      'report/**'
    paths-ignore:
      'report/build/MSc_group_d.pdf'

jobs:
  generatepdf:
    name: Generate PDF
    runs-on: ubuntu-latest
    steps:
      
      - name: Checkout
        uses: actions/checkout@v3

      
      - name: Generate PDF
        run: |
          docker run --rm -i --user="$(id -u):$(id -g)" --net=none -v "$PWD":/data blang/latex:ctanfull latexmk -pdf -shell-escape -outdir=/data/report /data/report/main.tex

      
      - name: Upload PDF
        uses: actions/upload-artifact@v3
        with:
          name: report
          path: ./report/main.pdf

  deploy_pdf:
    name: Deploy PDF
    needs: generatepdf
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      
      - name: Download PDF
        uses: actions/download-artifact@v3
        with:
          name: report
          path: ./report/main.pdf

      
      - name: Set up Git credentials
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.GH_SSH_PRIVATE_KEY }}

      
      - name: Commit and push PDF
        run: |
          mv report/main.pdf report/build/MSc_group_d.pdf
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git remote set-url origin git@github.com:DevOps-CI-CDont/DevOps-CI-CDont.git
          git add report/build/MSc_group_d.pdf
          git commit -m "Add generated PDF"
          git push origin HEAD:main --follow-tags